html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', 'Nunito', sans-serif;
}

*::-moz-selection {
  color: #ffd059;
}

*::selection {
  color: #ffd059;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("./images/background.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./images/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #f0f0f0;
}

a:hover {
  color: #ffd059;
}

.hidden {
  opacity: 0 !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: -150px !important;
}

.slideup,
.slidedown {
  max-height: 0;
  overflow-y: hidden;
  -webkit-transition: max-height 1s ease-in-out;
  transition: max-height 1s ease-in-out;
}

.slidedown {
  max-height: 200vh;
}

section {
  width: 100%;
  padding: 80px 0;
}

.fade {
  -webkit-animation: fade 1s forwards;
          animation: fade 1s forwards;
}

@-webkit-keyframes fade {
  25% {
    opacity: 0.25;
    color: #ffd059;
    font-size: 3em;
  }
  50% {
    opacity: 1;
    color: #f0f0f0;
    font-size: 2em;
  }
  75% {
    opacity: 0.25;
    color: #ffd059;
    font-size: 3em;
  }
  100% {
    opacity: 1;
    color: #f0f0f0;
    font-size: 2em;
  }
}

@keyframes fade {
  25% {
    opacity: 0.25;
    color: #ffd059;
    font-size: 3em;
  }
  50% {
    opacity: 1;
    color: #f0f0f0;
    font-size: 2em;
  }
  75% {
    opacity: 0.25;
    color: #ffd059;
    font-size: 3em;
  }
  100% {
    opacity: 1;
    color: #f0f0f0;
    font-size: 2em;
  }
}

.scrolled {
  opacity: 1;
}

.scrolled.slide-left {
  -webkit-animation: slide-in-left 0.5s ease-in-out both;
          animation: slide-in-left 0.5s ease-in-out both;
}

.slide-out-right {
  -webkit-animation: slide-out-right 0.5s ease-in-out both;
          animation: slide-out-right 0.5s ease-in-out both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
}

@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
}

@-webkit-keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ffd059;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ffd059;
  }
}

.typewriter h3 {
  border-right: 4px solid #ffd059;
  letter-spacing: 4px;
  -webkit-animation: blink-caret 0.75s step-end infinite;
          animation: blink-caret 0.75s step-end infinite;
}

nav {
  width: 100%;
  height: 48px;
  background-color: #0e0d0d;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  z-index: 1;
}

nav #logo {
  color: #2a4da3;
  z-index: 2;
  font-size: 20px;
  font-family: 'Consolas', 'Inconsolata', 'Courier New', monospace, sans-serif;
}

nav #logo * {
  font-family: 'Consolas', 'Inconsolata', 'Courier New', monospace, sans-serif;
}

nav #logo span {
  font-size: 20px;
}

nav #logo .tag {
  color: grey;
}

nav #logo .name {
  color: white;
}

nav #links {
  top: 48px;
  right: 0;
  position: fixed;
  width: 100%;
  background-color: #0e0d0d;
  opacity: 1;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
}

nav #links :nth-child(1) {
  padding-top: 0;
}

nav #links a {
  font-size: 20px;
  font-weight: 600;
  background-color: #0e0d0d;
}

nav a {
  padding: 8px;
  font-size: 16px;
  display: block;
  color: #f0f0f0;
}

nav #icon {
  color: #f0f0f0;
  display: block;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

nav #icon span {
  font-size: 20px;
}

.jumbotron {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jumbotron div h1,
.jumbotron div h3 {
  margin: 24px;
  color: #f0f0f0;
  text-align: center;
}

.jumbotron div h1 {
  font-size: 8vw;
}

.jumbotron div h3 {
  font-size: 4vw;
  margin-top: 40px;
}

.jumbotron div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jumbotron div a {
  margin: 16px;
}

.jumbotron div a:hover {
  color: #ffd059;
}

.jumbotron div .btn-primary {
  border: 2px solid #ffd059;
  color: #f0f0f0;
  padding: 8px;
  cursor: pointer;
}

.jumbotron div .btn-primary:hover {
  background-color: #ffd059;
  color: #0e0d0d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.jumbotron #contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: red;
}

#portfolio {
  min-height: 110vh;
  color: #f0f0f0;
  padding-top: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#0e0d0d));
  background-image: linear-gradient(rgba(0, 0, 0, 0), #0e0d0d);
}

#portfolio h2 {
  font-size: 40px;
  text-align: center;
  padding: 40px;
}

#portfolio #portfolio-grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  row-gap: 24px;
  -webkit-column-gap: 24px;
          column-gap: 24px;
}

#portfolio #portfolio-grid .project {
  height: 250px;
  width: 250px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-color: #0e0d0d;
}

#portfolio #portfolio-grid .project:hover .caption {
  opacity: 1;
  visibility: visible;
}

#portfolio #portfolio-grid .project img {
  width: 250px;
  height: 200px;
}

#portfolio #portfolio-grid .project h3 {
  text-align: center;
  color: #f0f0f0;
  margin-bottom: 16px;
}

#portfolio #portfolio-grid .project .caption {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(rgba(41, 41, 41, 0.8), #0e0d0d);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#portfolio #portfolio-grid .project .caption p {
  text-align: center;
  padding: 8px;
}

#portfolio #portfolio-grid .project .caption .btn-primary {
  border: 2px solid #ffd059;
  color: #f0f0f0;
  padding: 8px;
  cursor: pointer;
  margin: 8px;
}

#portfolio #portfolio-grid .project .caption .btn-primary:hover {
  background-color: #ffd059;
  color: #0e0d0d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#portfolio #portfolio-grid .project .caption .btn-secondary {
  border: 2px solid #f0f0f0;
  color: #f0f0f0;
  padding: 8px;
  cursor: pointer;
}

#portfolio #portfolio-grid .project .caption .btn-secondary:hover {
  background-color: #f0f0f0;
  color: #0e0d0d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#about {
  background-color: #0e0d0d;
  padding: 32px 0 32px 0;
  color: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about h2 {
  text-align: center;
  padding-bottom: 24px;
  font-size: 40px;
}

#about #image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px;
}

#about #image img {
  padding: 0;
  height: 250px;
  width: 250px;
}

#about #skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about #skills #skills-grid {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (50px)[4];
      grid-template-columns: repeat(4, 50px);
  row-gap: 24px;
  -webkit-column-gap: 24px;
          column-gap: 24px;
}

#about #skills #skills-grid * {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#about #skills #skills-grid span {
  font-size: 40px;
}

#about #skills #skills-grid .fa-html5:hover {
  color: red;
}

#about #skills #skills-grid .fa-css3-alt:hover {
  color: blue;
}

#about #skills #skills-grid .fa-sass:hover {
  color: #cf6c9f;
}

#about #skills #skills-grid .fa-js-square:hover {
  color: #e9d54d;
}

#about #skills #skills-grid .fa-react:hover {
  color: #5ed4f4;
}

#about #skills #skills-grid .fa-github:hover {
  color: black;
}

#about #skills #skills-grid .fa-bootstrap:hover {
  color: #543b79;
}

#about #skills #skills-grid .fa-yarn:hover {
  color: #2b8ab6;
}

#about #skills #skills-list-container {
  width: 320px;
  padding: 16px;
}

#about #skills #skills-list-container #skills-list {
  padding-left: 32px;
}

#about #text .text {
  font-size: 20px;
  padding: 8px;
}

#about #text .text .link {
  color: #f0f0f0;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#about #text .text .link:hover {
  color: #ffd059;
}

footer {
  padding: 8px;
  width: 100%;
  background-color: #0e0d0d;
  text-align: center;
}

footer p {
  color: #f0f0f0;
}

@media only screen and (min-width: 768px) {
  nav #icon {
    display: none;
  }
  nav #links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: static;
    opacity: 1 !important;
    height: 100%;
    width: unset;
    overflow: hidden;
  }
  nav #links a {
    padding: 0 32px;
  }
  .jumbotron div h1 {
    font-size: 6vw;
  }
  .jumbotron div h3 {
    font-size: 3vw;
  }
  #portfolio #portfolio-grid {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    row-gap: 40px;
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
  #about #about-grid {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'photo text' 'skills text' 'skills-list text';
    row-gap: 16px;
    -webkit-column-gap: 16px;
            column-gap: 16px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #about #about-grid #image {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: photo;
  }
  #about #about-grid #skills {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: skills;
  }
  #about #about-grid #skills-list {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: skills-list;
  }
  #about #about-grid #text {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    grid-area: text;
  }
}

@media only screen and (min-width: 1024px) {
  .jumbotron div h1 {
    font-size: 4vw;
  }
  .jumbotron div h3 {
    font-size: 2vw;
  }
  #portfolio #portfolio-grid {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    row-gap: 64px;
    -webkit-column-gap: 64px;
            column-gap: 64px;
  }
  #about #text {
    padding: 8px 80px 0;
  }
  #about #text #info {
    padding-top: 0;
  }
}
/*# sourceMappingURL=styles.css.map */