@import "./variables.scss";

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: "Nunito", sans-serif;
  font-family: "Raleway", "Nunito", sans-serif;
  &::selection {
    color: $break-color;
  }
}

@mixin btn-primary {
  border: 1px solid $break-color;
  border-radius: 5px;
  color: $primary-color;
  padding: $spacing;
  cursor: pointer;
  &:hover {
    background-color: $break-color;
    color: $secondary-color;
    transition: 0.3s;
  }
}

@mixin btn-secondary {
  border: 1px solid $primary-color;
  border-radius: 5px;

  color: $primary-color;
  padding: $spacing;
  cursor: pointer;
  &:hover {
    background-color: $primary-color;
    color: $secondary-color;
    transition: 0.3s;
  }
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: $primary-color;

  &:hover {
    color: $break-color;
  }
}

.hidden {
  visibility: hidden !important;
  opacity: 0 !important;
  transition: 0.5s;
}

.slideup,
.slidedown {
  max-height: 0;
  overflow-y: hidden;
  -webkit-transition: max-height 1s ease-in-out;
  -moz-transition: max-height 1s ease-in-out;
  -o-transition: max-height 1s ease-in-out;
  transition: max-height 1s ease-in-out;
}

.slidedown {
  max-height: 200vh;
}

section {
  width: 100%;
  padding: $spacing * 10 0;
}

.fade {
  animation: fade 1s forwards;
}

@keyframes fade {
  25% {
    opacity: 0.25;
    color: $break-color;
    font-size: 3em;
  }
  50% {
    opacity: 1;
    color: $primary-color;
    font-size: 2em;
  }
  75% {
    opacity: 0.25;
    color: $break-color;
    font-size: 3em;
  }
  100% {
    opacity: 1;
    color: $primary-color;
    font-size: 2em;
  }
}

// HEADER
// HEADER
// HEADER

header {
  // overflow: hidden;
  // background-color: transparent;
  // display: flex;
  // justify-content: space-between;

  #logo {
    text-align: center;
    font-size: $spacing * 2;
    color: rgb(42, 77, 163);
    position: absolute;
    left: $spacing;
    top: $spacing;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

    * {
      font-family: "Consolas", "Inconsolata", "Courier New", monospace,
        sans-serif;
    }

    .tag {
      color: grey;
    }

    .name {
      color: white;
    }
  }

  #links {
    top: 5px;
    right: 5px;
    position: fixed;
    background-color: $secondary-transparent;
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transition: 0.5s;

    a {
      position: relative;
      min-width: 125px;
    }
  }

  a {
    padding: $spacing;
    font-size: 17px;
    display: block;
    color: $primary-color;
  }

  #icon {
    color: $primary-color;
    display: block;
    position: fixed;
    right: 5px;
    top: 5px;
    height: 40px;
    width: 40px;
    background-color: $secondary-transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    z-index: 2;

    span {
      font-size: 20px;
    }
  }
}

.jumbotron {
  // padding: $spacing * 5;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  div {
    h1,
    h3 {
      padding: $spacing * 3;
      color: $primary-color;
      text-align: center;
    }
  }

  div {
    // margin: $spacing * 5 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
      margin: $spacing * 2;

      &:hover {
        color: $break-color;
      }
    }

    .btn-primary {
      @include btn-primary;
    }

    // .btn-secondary {
    //   @include btn-secondary;
    // }
  }
  #contact {
    // position: absolute;
    // left: 0;
    // top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: red;
  }
}

// PORTFOLIO
// PORTFOLIO
// PORTFOLIO

#portfolio {
  min-height: 110vh;
  color: $primary-color;
  padding-top: 0;

  h2 {
    text-align: center;
    padding: $spacing * 5;
  }

  #portfolio-grid {
    display: grid;
    justify-content: center;
    align-content: space-evenly;
    row-gap: $spacing * 3;
    column-gap: $spacing * 3;

    .project {
      height: 250px;
      width: 250px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 0 10px $break-color;
      border-radius: 20px;
      overflow: hidden;
      background-color: $secondary-color;

      &:hover .caption {
        opacity: 1;
        visibility: visible;
      }

      img {
        width: 250px;
        height: 200px;
      }

      h3 {
        text-align: center;
        color: $primary-color;
        margin-bottom: $spacing;
      }

      .caption {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: radial-gradient($secondary-transparent, $secondary-color);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-bottom: $spacing * 2;
        transition: 0.3s;

        p {
          text-align: center;
          padding: $spacing;
        }
        .btn-primary {
          @include btn-primary;
          margin: $spacing;
        }

        .btn-secondary {
          @include btn-secondary;
        }
      }
    }
  }
}
// ABOUT
// ABOUT
// ABOUT

#about {
  background-color: $primary-color;
  padding: $spacing * 4 0 $spacing * 4 0;
  color: $secondary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;

  h2 {
    text-align: center;
    padding-bottom: $spacing * 3;
    font-size: $spacing * 5;
  }

  #image {
    display: flex;
    justify-content: center;
    padding: $spacing;

    img {
      padding: 0;
      height: 250px;
      width: 250px;
      border-radius: 20px;
    }
  }

  #skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    #skills-grid {
      display: grid;
      justify-items: center;
      justify-content: center;
      align-items: center;
      grid-template-columns: repeat(4, 50px);
      row-gap: $spacing * 3;
      column-gap: $spacing * 3;

      * {
        transition: 0.2s;
      }

      span {
        font-size: $spacing * 5;
      }

      .fa-html5:hover {
        color: red;
      }
      .fa-css3-alt:hover {
        color: blue;
      }
      .fa-sass:hover {
        color: #cf6c9f;
      }
      .fa-js-square:hover {
        color: #e9d54d;
      }
      .fa-react:hover {
        color: #5ed4f4;
      }
      .fa-github:hover {
        color: black;
      }
      .fa-bootstrap:hover {
        color: #543b79;
      }
      .fa-yarn:hover {
        color: #2b8ab6;
      }
    }

    #skills-list-container {
      width: 320px;
      padding: $spacing * 2;
      #skills-list {
        // justify-content: center;
        padding-left: $spacing * 4;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
      }
    }
  }

  #text {
    .text {
      font-size: $spacing * 2.5;
      padding: $spacing;

      .link {
        color: $secondary-color;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          color: $break-color;
        }
      }
    }

    #additional-info {
      padding: 0 $spacing;
    }
  }
}

// PROGRESS BAR
// PROGRESS BAR
// PROGRESS BAR

.progress-bar {
  background-color: rgb(153, 153, 153);
  height: 25px;
  padding: 5px;
  width: 40%;
  min-width: 200px;
  margin: $spacing * 5 auto;
  border-radius: 5px;
  box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

.progress-bar span {
  display: inline-block;
  height: 100%;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 208, 89, 0.5) inset;
  transition: width 0.4s ease-in-out;
}

.blue span {
  background-color: rgb(255, 208, 89);
}

.stripes span {
  background-size: 30px 30px;
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  animation: animate-stripes 3s linear infinite;
}

.completion {
  display: flex;
  justify-content: space-between;
}

@keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 60px 0;
  }
}

footer {
  padding: $spacing;

  p {
    color: $primary-color;
  }
}

@media only screen and (min-width: 768px) {
  .jumbotron {
    h1 {
      font-size: $spacing * 5;
    }
    h3 {
      font-size: $spacing * 3;
    }
  }
  #portfolio {
    #portfolio-grid {
      grid-template-columns: auto auto;
      row-gap: $spacing * 5;
      column-gap: $spacing * 5;
    }
  }
  #about {
    #about-grid {
      display: grid;
      grid-template-areas:
        "photo text"
        "skills text"
        "skills-list text";
      row-gap: $spacing * 2;
      column-gap: $spacing * 2;
      align-items: flex-start;

      #image {
        grid-area: photo;
      }

      #skills {
        grid-area: skills;
      }

      #skills-list {
        grid-area: skills-list;
      }

      #text {
        grid-area: text;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  #portfolio {
    #portfolio-grid {
      grid-template-columns: auto auto auto;
      row-gap: $spacing * 8;
      column-gap: $spacing * 8;
    }
  }

  #about {
    #text {
      padding: $spacing $spacing * 10 0;
      #info {
        padding-top: 0;
      }
    }
  }

  #logo {
    font-size: $spacing * 3;
  }
}
