$primary-color: rgb(240, 240, 240);
$primary-transparent: rgba(240, 240, 240, 0.5);
$secondary-color: rgb(14, 13, 13);
$secondary-transparent: rgba(41, 41, 41, 0.8);
$break-color: rgb(255, 208, 89);

$spacing: 8px;
